
.grid-parent {
  display: grid;
  /*grid-template-columns: repeat(auto-fit,minmax(100px,1fr));*/
  /*grid-template-columns: min-content min-content min-content min-content;*/
  /*grid-template-columns: max-content max-content max-content max-content;*/
  grid-template-columns: repeat(11,minmax(0,1fr));
  grid-template-rows:  1fr 29fr;
 /* grid-column-gap: 2em;
  grid-row-gap: 2em;
  grid-auto-rows: 100px;*/

  /*height: 100vh;*/
}

.grid-item {
  background-color: yellow;
}
.color-c { 
  grid-column: 4;
}
.color-o {
  grid-column: 5;
}
.color-l {
  grid-column: 6;
}
.color-o2 {
  grid-column: 7;
}
.color-r {
  grid-column: 8;
}
.para-container {
  display:  flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  grid-row: 2;
  grid-column: 3 / span 7;
  /*justify-self: center;*/
  align-self:  center;
}

.para-1{
  background-color: red;
  flex-basis:  0;
  flex-grow:  1;
}
.para-2{
 background-color: blue; 
 flex-basis:  0;
 flex-grow:  1;
}
.para-3{
  background-color: cyan;
  flex-basis:  0;
  flex-grow:  1;
}

.flex-parent {
  display: flex;
}

.flex-item {
  background-color: green;
  flex-grow: 1;
}